* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/tooplate_fp_wrapper.jpg);
    background-repeat: no-repeat;
}
.menu-bar {
    width: 100%;
    height: 100px;
    text-align: right;
}
.menu-bar .links a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(204, 159, 33);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-right: 20px;
    
}
.menu-bar .links a:hover {
    cursor: pointer;
    color: white;
    transition: 2s left;
}
.zamuka {
    text-align: left;
    font-family: Segoe Print;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}
.zamuka span {
    color: red;
}
.footer {
    width: 100%;
    height: 30px;
    background: rgb(43, 42, 42);
    margin-top: 60px;
}
.footer footer {
    color: white;
    font-family: sans-serif;
}
.footer footer a{
    color: yellowgreen;
    margin-top: 20px;
}
.body {
    margin: 0;
}
.container .images img:hover {
    
    color: black;
    cursor: pointer;
    transition: 1s;
    opacity: 3;
}
.container .images img {
    border-radius: 30px;
    padding: 20px;
    
}
.images img:hover {
    transform: scale(1.2);
    z-index: 2;
    border-radius: 25px;
}
.container .images {
    margin-top: 50px;
}