* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/tooplate_fp_wrapper.jpg);
    background-repeat: no-repeat;
}
.menu-bar {
    width: 100%;
    height: 100px;
    text-align: right;
}
.menu-bar .links a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(204, 159, 33);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-right: 20px;
    
}
.menu-bar .links a:hover {
    cursor: pointer;
    color: white;
    transition: 2s left;
}
.zamuka {
    text-align: left;
    font-family: Segoe Print;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}
.zamuka span {
    color: red;
}
.footer {
    width: 100%;
    height: 30px;
    background: black;
}
.footer footer {
    color: white;
    font-family: sans-serif;
}
.footer footer a{
    color: yellowgreen;
    margin-top: 20px;
}
.body {
    width: 100%;
    height: 400px;
    background: rgb(34, 36, 31);
    margin-top: 90px;
}
.container {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 120px;
    margin-left: 100px;
}
.container .img {
    margin-left: 900px;
    margin-top: -50px;
}
.container .container-1 {
    font-size: 16px;
    margin-top: 20px;
}
.body img {
    margin-left: 100px;
}
.body .orange-word {
    color: white;
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: -180px;
}